* {
  margin: 0px auto;
  padding: 0px auto;
}

body {
  font-family: Calibri, sans-serif;
  background-color: #c3c3cf;
}

h1 {
  text-transform: uppercase;
  color: #737398;
}

h2 {
  color: #737398;
}

img {
  border-radius: 8px;
}

header {
  width: 100%;
  min-height: 70px;
}
header img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

hr {
  color: #fff;
}

#forma p {
  display: none;
}

#autor img {
  cursor: none;
}

#map {
  border-radius: 8px;
}

@media screen and (max-width: 623px) {
  header {
    height: auto;
  }
  header img {
    width: 80%;
  }
}
.navigacija {
  background-color: #737398;
  overflow: hidden;
  text-align: center;
}
.navigacija a {
  display: inline-block;
  color: #fff;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}
.navigacija a:hover {
  background-color: #c3c3cf;
  color: #242424;
}
.navigacija .ikonica {
  display: none;
}

#navigacijaDesktop {
  display: block;
}

#navigacijaResponsive {
  display: none;
}

@media screen and (max-width: 767px) {
  .navigacija a {
    float: left;
  }
  .navigacija a:not(:first-child) {
    display: none;
  }
  .navigacija a.ikonica {
    float: right;
    display: block;
    color: #fff;
  }

  #navigacijaDesktop {
    display: none;
  }

  #navigacijaResponsive {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .navigacija.responsive {
    position: relative;
  }
  .navigacija.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navigacija.responsive a.ikonica {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
  }

  #navigacijaDesktop {
    display: none;
  }

  #navigacijaResponsive {
    display: block;
  }
}
#leva p, #desna p {
  color: #656060;
}

@media screen and (min-width: 1000px) {
  hr {
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
  }

  #sadrzaj {
    width: 80%;
    min-height: 450px;
  }

  #naslov {
    width: 100%;
    min-height: 100px;
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
    color: #737398;
  }

  #slike {
    width: 100%;
    min-height: 450px;
    color: #737398;
    padding: 5%;
  }

  #leva {
    width: 50%;
    min-height: 500px;
    text-align: center;
    float: left;
  }
  #leva a {
    text-decoration: none;
    color: #000;
  }
  #leva a:hover {
    text-decoration: underline;
  }
  #leva h2 {
    padding: 20px;
  }
  #leva p {
    padding-left: 15%;
    padding-right: 15%;
  }
  #leva img {
    width: 70%;
    height: 30%;
  }

  #desna {
    width: 50%;
    min-height: 50px;
    text-align: center;
    float: right;
  }
  #desna img {
    width: 70%;
    height: 30%;
  }
  #desna a {
    text-decoration: none;
    color: #000;
  }
  #desna a:hover {
    text-decoration: underline;
  }
  #desna h2 {
    padding: 20px;
  }
  #desna p {
    padding-left: 15%;
    padding-right: 15%;
  }
}
@media screen and (max-width: 999px) and (min-width: 768px) {
  #sadrzaj {
    width: 100%;
    min-height: 450px;
  }

  hr {
    width: 80%;
    color: #737398;
    margin-left: 10%;
    margin-top: 30px;
  }

  #naslov {
    width: 100%;
    min-height: 100px;
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
    color: #737398;
  }

  #slike {
    width: 80%;
    min-height: 450px;
    color: #737398;
    padding: 10%;
  }

  #leva {
    width: 50%;
    min-height: 500px;
    text-align: center;
    float: left;
  }
  #leva a {
    text-decoration: none;
    color: #000;
  }
  #leva a:hover {
    text-decoration: underline;
  }
  #leva h2 {
    padding: 20px;
  }
  #leva p {
    padding-left: 15%;
    padding-right: 15%;
  }
  #leva img {
    width: 70%;
    height: 200px;
  }

  #desna {
    width: 50%;
    min-height: 500px;
    text-align: center;
    float: right;
  }
  #desna img {
    width: 70%;
    height: 200px;
  }
  #desna a {
    text-decoration: none;
    color: #000;
  }
  #desna a:hover {
    text-decoration: underline;
  }
  #desna h2 {
    padding: 20px;
  }
  #desna p {
    padding-left: 15%;
    padding-right: 15%;
  }
}
@media screen and (max-width: 767px) and (min-width: 401px) {
  #sadrzaj {
    width: 100%;
    min-height: 500px;
  }

  hr {
    width: 90%;
    color: #737398;
    margin-left: 5%;
    margin-top: 30px;
  }

  #naslov {
    width: 100%;
    min-height: 100px;
    text-align: center;
    padding-top: 50px;
  }

  #slike {
    width: 100%;
    min-height: 700px;
    text-align: center;
  }
  #slike p {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
  }

  #leva {
    width: 100%;
    min-height: 250px;
  }
  #leva a {
    text-decoration: none;
    color: #000;
  }
  #leva a:hover {
    text-decoration: underline;
  }
  #leva h2 {
    padding: 20px;
  }
  #leva img {
    width: 60%;
    height: 30%;
  }

  #desna {
    width: 100%;
    min-height: 250px;
    margin-top: 50px;
  }
  #desna img {
    width: 60%;
    height: 30%;
  }
  #desna a {
    text-decoration: none;
    color: #000;
  }
  #desna a:hover {
    text-decoration: underline;
  }
  #desna h2 {
    padding: 20px;
  }
  #desna p {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 400px) {
  #sadrzaj {
    width: 100%;
    min-height: 800px;
  }

  hr {
    width: 90%;
    color: #737398;
    margin-left: 5%;
    margin-top: 30px;
  }

  #naslov {
    width: 100%;
    min-height: 100px;
    padding-top: 50px;
    text-align: center;
  }

  #slike {
    width: 100%;
    min-height: 700px;
    text-align: center;
  }
  #slike p {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15px;
  }

  #leva {
    width: 100%;
    min-height: 250px;
  }
  #leva a {
    text-decoration: none;
    color: #000;
  }
  #leva a:hover {
    text-decoration: underline;
  }
  #leva h2 {
    padding: 20px;
  }
  #leva img {
    width: 90%;
    height: 30%;
  }

  #desna {
    width: 100%;
    min-height: 250px;
    margin-top: 50px;
  }
  #desna img {
    width: 90%;
    height: 30%;
  }
  #desna a {
    text-decoration: none;
    color: #000;
  }
  #desna a:hover {
    text-decoration: underline;
  }
  #desna h2 {
    padding: 20px;
  }
  #desna p {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
  }
}
#autor {
  width: 60%;
  color: #242424;
}
#autor p {
  padding: 50px;
  font-size: 25px;
  text-align: center;
  letter-spacing: 2px;
}

@media screen and (max-width: 400px) {
  autor {
    width: 90%;
  }

  #autor p {
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
}
@media screen and (min-width: 648px) and (max-width: 1500px) {
  #autor {
    width: 80%;
  }
  #autor p {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 400px) and (max-width: 647px) {
  #autor {
    width: 90%;
  }
  #autor p {
    font-size: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #autor img {
    width: 80%;
    height: 35%;
  }
}
@media screen and (min-width: 400px) and (max-width: 647px) and (orientation: landscape) {
  #autor img {
    width: 40%;
    height: 35%;
  }
}
@media screen and (max-width: 399px) {
  #autor {
    width: 100%;
  }
  #autor img {
    width: 95%;
    height: 30%;
  }
  #autor p {
    padding-top: 15px;
    font-size: 15px;
  }
}
@media screen and (max-width: 399px) and (orientation: landscape) {
  #autor img {
    width: 40%;
    height: 35%;
  }
}
#map {
  width: 60%;
  min-height: 350px;
  margin-top: 50px;
}

#forma {
  width: 100%;
  min-height: 300px;
  padding-top: 50px;
  padding-bottom: 150px;
  text-align: center;
}
#forma h2 {
  font-size: 25px;
  margin: 10px;
}

.tb {
  width: 50%;
  height: 40px;
  margin: 10px;
  border-radius: 8px;
  border-color: #737398;
  border-style: solid;
  color: #242424;
  font-size: 20px;
}

#poruka {
  max-width: 50%;
  width: 50%;
  height: 140px;
  margin: 10px;
  border-radius: 8px;
  border-color: #737398;
  border-style: solid;
  border-width: 2px;
  color: #242424;
  font-size: 20px;
}

#posalji {
  width: 15%;
  height: 40px;
  float: right;
  margin-right: 25%;
  margin-top: 10px;
  background-color: #737398;
  color: #fff;
  font-size: 20px;
  border-radius: 8px;
}
#posalji:hover {
  background-color: #fff;
  color: #737378;
  cursor: pointer;
}

@media screen and (min-width: 648px) and (max-width: 1400px) {
  #posalji {
    width: 20%;
    margin-right: 15%;
  }

  #map {
    width: 70%;
    min-height: 200px;
  }

  #forma {
    width: 100%;
  }

  .tb {
    width: 70%;
  }

  #poruka {
    max-width: 70%;
    width: 70%;
  }
}
@media screen and (max-width: 647px) {
  #posalji {
    width: 95%;
    margin-right: 2.5%;
    margin-top: 10px;
    margin-bottom: 50px;
  }

  #map {
    width: 95%;
    min-height: 200px;
  }

  #forma {
    width: 100%;
  }

  .tb {
    width: 95%;
  }

  #poruka {
    max-width: 95%;
    width: 95%;
  }
}
footer {
  width: 100%;
  min-height: 400px;
}

#cv {
  padding-top: 25px;
  height: 100px;
  background-color: #737398;
  text-align: center;
}

#smd {
  height: 60px;
  padding-top: 25px;
  background-color: #737398;
  color: #fff;
  font-size: 20px;
  text-align: center;
}
#smd a {
  color: #fff;
  text-decoration: none;
}
#smd a:hover {
  color: #242424;
}

#prava {
  height: 100px;
  background-color: #737398;
  color: #fff;
  font-size: 20px;
  text-align: center;
}
#prava strong {
  cursor: none;
}

#linkovi {
  height: 100px;
  background-color: #737398;
  color: #fff;
  text-align: center;
  padding: 0px !important;
}
#linkovi ul {
  list-style: none;
}
#linkovi li {
  display: inline-block;
}
#linkovi img {
  width: 60px;
  height: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

button {
  border-radius: 8px;
  border-color: #fff;
  border-style: outset;
  min-width: 100px;
  height: 75px;
  padding: 10px;
  color: #fff;
  background-color: #737398;
  cursor: pointer;
  font-size: 2em;
}
button:hover {
  background-color: #fff;
  color: #737398;
}

@media screen and (max-width: 350px) {
  #smd, #prava {
    font-size: 16px;
  }

  #linkovi img {
    width: 50px;
    height: 50px;
  }
}
